body {
    padding-top: 90px;    
	font-size: 14px;
	padding-bottom: 50px;
}
.nav-custom {
    padding: .25rem 1rem;
}
.form-login{
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.img-circle {
    border-radius: 50%;
    width: 40px;
    border: 1px;
    padding: 4px;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}

.row-content {
  margin: 0px auto;
  border-bottom: 1px ridge;
  padding-bottom: 40px;
  padding-top: 10px;
}

.row-footer {
	background-color: orangered;
	color: white;
	bottom: 0;
	text-align: center;
	width:  100%;
	position: fixed;
}
.img {
    position: relative;
    float: left;
    width:  150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.media:hover {
    opacity: 1.0;
    cursor: pointer;
    background-color:rgba(255,255,255,.5);
    color: orangered;
}

.media {
    opacity: 0.7;
}
.media-left{
    padding-right: 10px;
}
.img-product {
    position: relative;
    width:  300px;
    height: 300px;
    background-position: 30% 30%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.img-product-parent{
    vertical-align: middle;
    display: table-cell;
    height: 400px;
    width: 400px;
    border-style: groove;
    border-color: #8080800a;
    overflow: hidden;
    text-align: center;
}

.img-product-new{
    max-height: 400px;
    max-width: 100%;
    vertical-align: middle;
}

.result li {
    margin-top: 15px;
    background-color: #eceeef;
    margin-left: -30px;
}

.result li:hover {
    margin-top: 15px;
    background-color:lightgray;
}

.closeNavBar{
    
}

.onhover:hover{
    cursor: pointer;
    color: orangered;
}

.search li:hover{
    background-color: lightgray;
}

#arrowdown {
    width: 100px;
    bottom: 0px;
    position: absolute;
    margin-bottom: 30px;
}

.leftnav {
    float:left;
}

.leftnav div button{
    color: white;
    background-color: #373a3c;
}

.btn-doeagora:focus{
    outline: none;
}

.btn-doeagora {
    background-color: orangered;
    color:white;
    border-radius: 25px;
    font-style: italic;
    outline: none;
}

.btn-doeagora:hover {
    opacity: 0.5;
    outline: none;
}

.btn-doeagora:active {
	background-color:white; 
    color:orangered;
    opacity: 1;
    outline: none;
}

.btn-donated{
    background-color:white; 
    color:orangered;
    vertical-align: bottom;
}

.btn-donated:hover{
    background-color: orangered;
    color:white;
    opacity: 0.8;
}

.btn-donated:active{
    opacity: 1;
    border:none;
}

.btn-donated:hover span:after{
    content: ' Produto doado?';
}
.btn-donated span{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.jumbotronCustom {
    background-image: url("../images/banner-doe.jpg");
    background-size: cover;
    height: 235px;
}
.search-input {
    padding-top: 100px;
}
html {
    overflow-y: scroll;
}

.textwrap {
    overflow: hidden;
    text-overflow: ellipsis;
}

.griditem{
    padding-top: 15px;
    padding-bottom: 15px;
}

.subtitles {
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #eceeef;
    border-radius: .25rem;
}

.tablegrid{
    padding-left: 15px;
    padding-right: 15px;
}