<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<nav class="breadcrumb">
				<a class="breadcrumb-item" ui-sref="app.home">Página Inicial</a>
				<span class="breadcrumb-item active">Sobre</span>
			</nav>
		</div>
		<div class="col-xs-12">
		   <h3>Sobre</h3>
		   <hr>
		</div>
	</div>
	<div class="row row-content">
		<div class="col-xs-12 col-sm-8">
			<h2>Quem somos nós?</h2>
			<p class="cmBox_text_subline cmBox_text_subline-2">Welcome to DOE. It is a project where we want to help everyone and the planet. With this, we plan to decrease environmental and social issues. Just together, we can create a more sustainable and fair world. </p>
		</div>

		<div class="col-xs-12 col-sm-8">
			<h2>Our History</h2>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed convallis metus. Vivamus a purus bibendum, fermentum enim a, tincidunt nulla. Fusce rhoncus tempor ligula nec placerat. Nunc a eros lacus. Phasellus a dictum nunc. Quisque tempor augue sed est consectetur, pharetra interdum erat lobortis. Integer congue purus ipsum, sed volutpat turpis luctus eu. Nunc volutpat erat et tellus rhoncus, eget malesuada ipsum suscipit.</p>

			<p>Etiam gravida nisi et tortor aliquam pulvinar. Proin laoreet gravida suscipit. Nullam sed metus justo. Integer scelerisque eleifend leo non porttitor. Quisque semper dolor vitae lacinia dictum. Suspendisse potenti. Praesent pellentesque lorem ut euismod finibus. Fusce elementum, lectus sit amet lobortis cursus, risus risus ornare velit, a fermentum massa nunc eget leo. Donec ut viverra ex. Donec efficitur volutpat ante, sed accumsan ex aliquet non. In mollis nunc ut tortor viverra auctor. Proin in lectus ut ex condimentum luctus. Donec mauris mauris, semper sed nulla eget, elementum sodales nulla. Etiam ac laoreet est, et maximus lorem. Nullam egestas laoreet pulvinar. Integer bibendum tempor dictum.</p>
			<div class="well">
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus iaculis lacus, sed ultrices urna.</p>
					<footer>Lorem ipsum.,
					<cite title="Source Title">Lorem ipsum dolor sit amet, Lorem Ipsum, 2017</cite></footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
