<header>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
	<div class="container" ng-controller="MenuController">
		<a class="navbar-brand" ui-sref="app.home">#DOE</a>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link onhover" ui-sref="app.aboutus"><span aria-hidden="true"></span> Sobre</a>
			</li>
			<li class="nav-item">
				<a class="nav-link onhover" ui-sref="app.contactus"><span aria-hidden="true"></span> Contato</a>
			</li>
		</ul>
		<button id="btn-doeagora" type="button" ui-sref="app.productregister" class="offset-md-3 btn">#doeAGORA</button>

		<div class="nav navbar-nav pull-xs-right" id="userLogin">
			<a ui-sref="app.login" ng-show="!name">Login</a>
			<li class="nav-item dropdown" ng-show="name">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{name}}
                </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" >Configurações</a>
				  <a class="dropdown-item" >Meus Produtos</a>

				  <a class="dropdown-item" href="" ng-click="logout()" ng-show="name">Logout</a>
				</div>
			  </li>
			<img class="img-circle" src="images/photoTemplate.png">
		</div>
	</div>
</nav>
</header>
