<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="color: #fff!important;background-color: #373a3c!important;">
			<div class="container" ng-controller="MenuController">
				<button type="button" ui-sref="app.productregister" class="btn-doeagora btn "><strong>#DOE</strong></button>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
							<li class="nav-item">
									<a class="nav-link onhover closeNavBar" ui-sref="app.home"><span aria-hidden="true"></span> Página Inicial</a>
							</li>
							<li class="nav-item">
								<a class="nav-link onhover closeNavBar" ui-sref="app.aboutus"><span aria-hidden="true"></span> Sobre</a>
							</li>
							<li class="nav-item">
								<a class="nav-link onhover closeNavBar" ui-sref="app.contactus"><span aria-hidden="true"></span> Contato</a>
							</li>
						</ul>
					<form class="form-inline mt-2 mt-md-0">
						<div class="nav navbar-nav pull-xs-right" id="userLogin">
								<a ui-sref="app.login" ng-show="!name" class="closeNavBar">Login</a>
								<li class="nav-item dropdown" ng-show="name">
									
									<a class="onhover dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<strong style="color: rgba(255,255,255,.5);">{{name}}</strong>
									</a><img class="img-circle" src="images/photoTemplate.png">
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" >Configurações</a>
										<a class="dropdown-item" >Meus Produtos</a>
										<a class="dropdown-item closeNavBar" href="" ng-click="logout()"  ng-show="name">Logout</a>
									</div>

								</li>

							</div>
					</form>
				</div>
			</div>
		</nav>
	</header>
	